body {
    font-family: 'Arial', sans-serif;
    background-color: #F3CEAD; /* Updated background color */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    cursor: url('https://i.imgur.com/A9Kenad.png'), auto; /* Custom cursor image */
}

.logo {
    position: absolute;
    top: 10px; /* Adjust as needed */
    left: 10px; /* Adjust as needed */
    width: 100px; /* Adjust the size as needed */
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(225, 247, 234, 0.9);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h1 {
    color: #8968A1;
}

.intro, .secret {
    margin-bottom: 30px;
}

#startButton, .secret {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#startButton:hover, .secret:hover {
    background-color: #45a049;
}

.secret {
    color: transparent;
    transition: color 0.5s ease;
}

.secret:hover {
    color: black;
}

.tooltip {
    position: absolute;
    top: 10px;
    left: 10px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: auto; /* Adjust width as needed */
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 10px; /* Adjust padding as needed */
    position: absolute;
    z-index: 1;
    bottom: -5px; /* Position the tooltip below the logo */
    right: 0; /* Align the tooltip to the right edge of the logo */
    transform: translate(100%, 50%); /* Adjust positioning relative to the logo */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
