@font-face {
    font-family: 'EasterJoy';
    src: url('fonts/easterjoy.regular.ttf') format('truetype');
}

@font-face {
    font-family: 'EasterMeadow';
    src: url('fonts/eastermeadow.ttf') format('truetype');
}

@font-face {
    font-family: 'TravelingTypewriter';
    src: url('fonts/TravelingTypewriter.ttf') format('truetype');
}

.nmodal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.nmodal-content {
  position: relative;
  margin: auto;
  padding: 20px;
  width: 80%; /* Adjust as needed */
  max-width: 700px; /* Adjust as needed */
  animation: animatetop 0.4s;
}

.nmodal-content img, .pmodal-content img {
  width: 100%; /* Make the image responsive */
  height: auto;
  margin: auto; /* Center the image */
}

.cmodal-background {
    position: fixed;
    visibility: hidden; /* Initially hidden */
    z-index: 1000; /* Ensures it's on top of other content but under the modal itself */
    left: 50%;
    top: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%); /* Corrected line */
    width: 500px; 
    height: 500px; 
    background-color: rgba(0, 0, 0, 0.8); /* Black background */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 15px; /* Rounded corners for the square */
    opacity: 0; /* Fully transparent initially */
    transition: opacity 0.3s, visibility 0.3s;
}

.circular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circular-modal {
  background-color: #000;
  display: none;
  justify-content: center;
  flex-direction: column; /* Stack input and button vertically */
  align-items: center; /* Center items horizontally */
  top: calc(50% - 150px);
  left: calc(50% - 150px);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow:
    inset 0 0 50px #fff,
    inset 20px 0 80px #f0f,
    inset -20px 0 80px #0ff,
    inset 20px 0 300px #f0f,
    inset -20px 0 300px #0ff,
    0 0 50px #fff,
    -10px 0 80px #f0f,
    10px 0 80px #0ff;
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.pmodal {
    z-index: 10000; /* Sit on top */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    position: fixed; 
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    justify-content: center;
    align-items: center;
    overflow: auto; /* Enable scroll if needed */
    background-color: transparent; /* Transparent background */
}

.pmodal-content {
    padding: 20px;
    max-width: 600px;
    position: relative;
    z-index: 10001; /* Sit on top */
    width: 100%;
    align-items: center;
    text-align: center;
    margin: auto; /* 15% from the top and centered */
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: auto;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

.popup-image {
    max-width: 100%; /* Ensure it doesn't overflow the modal */
    height: auto; /* Maintain aspect ratio */
    display: block; /* To enable margin auto to work for centering */
    margin: 0 auto; /* Center the image horizontally */
    justify-content: center;
    display: flex;
    align-items: center;
}

.small-image {
    position: absolute;
    right: 75%;
    top: 60%; 
    cursor: pointer;
    width: 200px;
    transform: translateY(-50%);
}

.additional-image {
    position: absolute;
    right: 75%;
    top: 40%; 
    cursor: pointer;
    width: 200px;
    transform: translateY(-50%);
}

.var-highlight {
  color: #00FF00;
}

.string-highlight {
  color: #00FF00;
}

#typewriter {
  font-size: 2em;
  margin: 0;
  font-family: "TravelingTypewriter";
  color: #00FF00;
}
#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
          animation: blink 500ms linear infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
    font-family: 'EasterMeadow', Arial, sans-serif; /* Fallback font */
}

body {
  background-color: #9FE0D2;
  margin: 0;
  font-family: 'EasterJoy', Arial, sans-serif;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: url('https://i.imgur.com/UjIoNgU.png'), auto;
}

@keyframes glow {
    from {
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.7), 
                    0 0 40px rgba(192, 237, 252, 0.6), 
                    0 0 60px rgba(0, 191, 255, 0.6), 
                    0 0 80px rgba(0, 191, 255, 0.6),
                    0 0 100px rgba(0, 191, 255, 0.6);
    }
    to {
        box-shadow: 0 0 30px rgba(0, 191, 255, 0.9), 
                    0 0 50px rgba(0, 191, 255, 0.8), 
                    0 0 70px rgba(0, 191, 255, 0.8), 
                    0 0 90px rgba(0, 191, 255, 0.8),
                    0 0 110px rgba(0, 191, 255, 0.6);

    }
}

.circular-modal #passcodeInput {
    width: 100px;
    height: 40px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    outline: none;
    font-size: 30px;
    padding-top: 5px;
    margin-bottom: 20px;
    background-color: transparent;
    text-shadow: 0 0 5px #00BFFF, 
                 0 0 10px #00BFFF, 
                 0 0 20px #00BFFF, 
                 0 0 40px #00BFFF; /* Text glow effect */
    color: #00BFFF;
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.5); /* Blue glow */
}

.circular-modal #submitPasscode {
    background-color: #2C2C2C; /* Dark background for contrast */
    color: #00BFFF; /* Neon-like font color */
    padding: 10px 20px;
    border-radius: 20px;
    margin: 50px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 191, 255, 0.7), 
                0 0 15px rgba(0, 191, 255, 0.6), 
                0 0 25px rgba(0, 191, 255, 0.6), 
                0 0 35px rgba(0, 191, 255, 0.6); /* Button glow effect */
    transition: all 0.3s ease;
}

.circular-modal #submitPasscode:hover {
    color: #2C2C2C;
    background-color: #99e5ff;
    box-shadow: 0 0 10px rgba(0, 191, 255, 0.8), 
                0 0 20px rgba(0, 191, 255, 0.7), 
                0 0 30px rgba(0, 191, 255, 0.7), 
                0 0 40px rgba(0, 191, 255, 0.7); /* Intensified glow on hover */
}

.button-55 {
  align-self: center;
  background-color: #FFF59A;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
  background-color: #DCCE50;
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.full-width-image {
    width: 100%;
    height: auto;
}

.permanent-image {
    width: 50%; /* Adjust according to your preference */
    height: auto; /* Keep the aspect ratio */
    display: block;
    margin: 0 auto; /* Center the image if needed */
    cursor: pointer;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
  z-index: 20;
  background: url('https://i.imgur.com/tTiuDt6.png') no-repeat; /* Set logo image */
  background-size: contain; /* Ensure the logo fits within the div */
}

.text-background {
  background-color: black;
  color: 00FF00; /* Makes the text color white for better readability */
  padding: 15px; /* Adjust padding as needed */
}

.modal-header, .modal-body {
    padding: 20px;
}

.modal-header {
  color: #d10000; /* Red color for urgency */
  font-weight: bold;
  text-align: center;
}

.modal-body {
  margin-top: 20px;
}

.modal-close-btn {
  background-color: #d10000; /* Red color for close button */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  float: right; /* Align the close button to the right */
}

.modal-close-btn:hover {
  background-color: #910000; /* Slightly darker red on hover */
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.close:hover {
  color: #e00;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 50%;
  top: 50%;
  width: 750px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  display: flex; /* Use flexbox to center the modal content */
  align-items: center; /* Align items vertically */
  justify-content: center; /* Center items horizontally */
  background-color: slategray; /* Slate grey background */
  margin: auto;
  text-align: center;
  padding: 20px;
  transform: translate(-50%, -50%);
  color: #00FF00; 
  font-family: 'TravelingTypewriter', sans-serif; /* Use your custom font */
}

.modal-contents {
  position: relative;
  background-color: #FF889C;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px; /* Adjust based on your preference */
  height: auto; /* Auto height to adjust based on content */
  min-height: 80vh;
  overflow-y: auto; /* Enable scrolling within the modal */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  justify-content: center;
}

.modal-content img {
    width: 100%; /* Make images responsive */
    max-width: 500px; /* Limit the size of images */
    height: auto;
    margin: 10px 0; /* Add some space around the images */
    display: block; /* This line is crucial for margin: auto to work */
}

.images-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.egg-image {
  transition: transform 0.3s ease;
  margin: 10px;
}

.egg-image:hover {
  transform: scale(2); /* Enlarge on hover */
}

.egg-modal-content {
  display: none; /* Hidden by default */
  position: relative;
  justify-content: center;
  align-items: center;
  tect-align: center;
  display: none;
  z-index: 10000;
  padding: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); /* Keep this as is for the modal backdrop */
}

.egg-modal {
  background-color: #ffc0cb; /* Light pink background for Easter theme */
  border: 2px dashed #ff69b4; /* Dashed border with a light pink color */
  padding: 20px;
  color: #000080;
  z-index: 1050;
  display: none;
  width: 400px; /* Adjust width as needed */
  height: 300px;
  text-align: center;
  border-radius: 15px; /* Rounded corners for a softer look */
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  overflow: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.egg-close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  color: grey; /* Initial color */
  cursor: pointer;
}

.egg-close:hover {
  color: neonpink; /* Neon pink on hover */
}

.small-egg {
  width: 200px; /* Smaller size for inspection */
  cursor: pointer; /* Indicate it's clickable */
  transition: transform 0.3s ease; /* Smooth transition for enlarging */
}

.small-egg:hover {
  transform: scale(1.5); /* Enlarge on hover */
}

@keyframes showModal {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.egg-reveal-modal h2 {
  color: #000080;
  margin-bottom: 15px;
}

.egg-reveal-modal p {
  margin-bottom: 20px;
  background-color: transparent;
}

.egg-reveal-modal input[type="text"] {
  border: 1px solid #FFC0CB; 
  background-color: #FFFFFF;
}

#secretImage {
    position: absolute;
    top: 150px; /* 150 pixels from the top */
    right: 150px; /* 150 pixels from the left */
    width: 20px; /* Set the width as required */
}

.container {
  text-align: center;
  padding: 50px;
  max-width: 800px; 
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 80vh;
  margin: 20px auto;
  background-color: rgba(250, 243, 221, 0.6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow-y: auto;
  z-index: 5;
}

#container p {
    margin-bottom: 20px; /* Space between the description and the puzzle button */
    line-height: 1.6; /* Makes the text easier to read */
}

.image-border {
  display: flex; /* Use flexbox to align images in a row */
  justify-content: center; /* Center the images horizontally */
  align-items: center; /* Align the images vertically */
  flex-wrap: nowrap; /* Prevent wrapping */
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed; /* Adjust this as needed to position at the bottom of the page or container */
}

.grass-img {
  width: 150px; /* Adjust width as needed */
  margin: 0 5px; /* Add some space between images */
  display: inline-block; /* No need for 'position: absolute' */
}

#confettiCanvas {
  position: fixed;
  display: none; /* Ensures keys are hidden initially */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999; /* Ensure confetti is above most content */
}

.key-img {
    display: none; /* Hidden by default, shown on hover */
    position: absolute;
    transition: all 0.5s ease; /* Smooth transition for appearing */
    z-index: 10;
    height: 75px; /* As specified */
}

h1 {
  color: #8968A1;
  margin-bottom: 16px;
  text-shadow: 3px 4px 7px rgba(81,67,21,0.8);
}

.secret-image {
  width: 20px;
  position: absolute;
  z-index: 2; /* Ensure it's above some elements but below others like modals */
  /* Add more styles to position it where you want on the page */
}

.intro,
.secret {
  margin-bottom: 30px;
}

.button-8 {
  touch-action: manipulation;
  appearance: button;
  background-color: transparent;
  border-style: initial;
  border-width: 0;
  cursor: pointer;
  margin: 0;
  text-transform: none;
  vertical-align: baseline;
}

.button-8:focus {
  outline: 0;
}

.button-8 {
  touch-action: manipulation;
  background-image: linear-gradient(135deg, color(display-p3 .572549 .415686 1) 0%, color(display-p3 1 .466667 .690196) 50%, color(display-p3 1 .701961 .403922) 100%);
  border-radius: 8px;
  color: #fff;
  font-feature-settings: "ss01", "cv10", "calt"0, "liga"0;
  font-size: 36px;
  font-weight: 500;
  line-height: 50px;
  padding: 10px 20px;
  position: relative;
  transition: transform .2s cubic-bezier(.6, .6, 0, 1), margin-top .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
}

.button-8::before {
  -webkit-mask-clip: content-box, initial;
  -webkit-mask-composite: xor;
  -webkit-mask-image: linear-gradient(#fff 0, #fff 0), linear-gradient(#fff 0, #fff 0);
  -webkit-mask-origin: content-box, initial;
  -webkit-mask-position-x: initial, initial;
  -webkit-mask-position-y: initial, initial;
  -webkit-mask-repeat-x: initial, initial;
  -webkit-mask-repeat-y: initial, initial;
  -webkit-mask-size: initial, initial;
  padding: 1px;
}

.button-8::before {
  background-color: initial;
  background-image: linear-gradient(rgba(255, 255, 255, .32), transparent);
  bottom: 0;
  pointer-events: none;
  right: 0;
}

.button-8::after,
.button-8::before {
  border-radius: inherit;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
}

.button-8::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, .3) 0 9px 21px, rgba(73, 2, 57, .2) 0 -3px inset;
  height: 100%;
  transition: box-shadow .2s cubic-bezier(.6, .6, 0, 1), background-color .2s cubic-bezier(.6, .6, 0, 1);
  transition-behavior: normal, normal;
  width: 100%;
  z-index: 1;
}

.button-8:active {
  transform: translateY(1.5px);
}

.button-8:hover::after {
  background-color: rgba(255, 255, 255, .1);
}

.button-8:active::after {
  box-shadow: #000019 0 0, rgba(0, 0, 25, .2) 0 9px 21px, rgba(73, 2, 57, .2) 0 0 inset;
}

.secret {
  color: transparent;
  transition: color 0.5s ease;
}

.secret:hover {
  color: black;
}

.key-img {
  display: none; /* Ensures keys are hidden initially */
  height: 150px; /* Sets the height to 150px */
  width: auto; /* Maintains aspect ratio */
}

.tooltip {
  position: absolute;
  top: 10px;
  left: 10px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #BBE9F2;
  color: #A9A9A9;
  text-align: center;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 100;
  bottom: -5px;
  right: 0;
  transform: translate(100%, 50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.mystery-image {
  display: block;
  margin: 20px auto;
  width: 500px;
  max-width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.button-82-pushable {
  position: relative;
  border: none;
  font-family: TravelingTypewriter;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-82-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.button-82-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
  .button-82-front {
    font-size: 1.25rem;
    padding: 12px 42px;
  }
}

.button-82-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
  outline: none;
}

.puzzle-button {
  background-color: #E4AFBB; /* Easter pink */
  color: white;
  border: 2px solid #D9809E;
  padding: 10px 15px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Removes underline from link */
  font-size: 24px; /* Larger font size */
  font-weight: bold;
  font-family: 'EasterJoy', Arial, sans-serif; /* Use EasterJoy font, with a fallback */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
  width: auto; /* Auto width based on content */
  text-align: center; /* Center the text inside the button */
  margin-bottom: 100px; /* Margin to center the button horizontally and add space around it */
}

.puzzle-button:hover {
  background-color: #D9809E; /* Darker pink on hover */
}

.bottom-img {
  width: auto;
  height: 150px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: -50px;
}

.random-img {
  width: 20px;
  position: absolute;
  z-index: 2;
}

#specialTrigger {
  width: 25px;
  position: absolute;
  top: 100px;
  left: 100px;
  cursor: pointer;
  z-index: 10;
}

.egg-reveal-modal button:hover {
  background-color: #7CB342;
}

#submitAnswer {
  background-color: #008CBA; /* Example button color */
  color: white;
  margin: 50px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .modal-content, .egg-reveal-modal, .egg-container {
    width: 90%; /* More screen-friendly on smaller devices */
  }

  .logo {
    width: 150px; /* Smaller logo for smaller screens */
  }
} 

.input {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  text-align: center;
  background: linear-gradient(21deg, #F298F4, #75ECFB);
  padding: 3px;
  display: inline-block;
  border-radius: 9999em;
  margin: 25px;
}
.input *:not(span) {
  position: relative;
  display: inherit;
  border-radius: inherit;
  margin: 0;
  border: none;
  outline: none;
  padding: 0 0.325em;
  z-index: 1;
}
.input *:not(span):focus + span {
  opacity: 1;
  transform: scale(1);
}
.input span {
  transform: scale(0.993, 0.94);
  transition: transform 0.5s, opacity 0.25s;
  opacity: 0;
  position: absolute;
  z-index: 0;
  margin: 4px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  pointer-events: none;
  box-shadow: inset 0 0 0 3px #fff, 0 0 0 4px #fff, 3px -3px 30px #75ECFB, -3px 3px 30px #F298F4;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  font-size: 1em;
}

body {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

html, body {
  height: 100%;
}

input {
  font-family: Ariel;
  line-height: 36px;
  color: #2e3750;
  min-width: 12em;
}

::-moz-placeholder {
  color: #cbd0d5;
}

:-ms-input-placeholder {
  color: #cbd0d5;
}

::placeholder {
  color: #cbd0d5;
}

html::after {
  content: "";
  background: linear-gradient(21deg, #10abff, #1beabd);
  height: 3px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
